@model GiveCampStarterKit.Website.Models.EditContentViewModel
<script src="@Url.Content("~/Scripts/Views/Admin/tagAjax.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend><h2>Edit Content Sections</h2></legend>
            <table>
                <tr style="width:80%">
                    <td >
                        Slug
                    </td>
                    <td>
                        @Html.DropDownListFor(c => c.Slug, (List<SelectListItem>)ViewBag.SlugSelectList, new { style = "width:250px" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Tag
                    </td>
                    <td>
                        @Html.DropDownListFor(c => c.Tag, (List<SelectListItem>)ViewBag.TagSelectList, new { style = "width:250px" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Title
                    </td>
                    <td>
                        @Html.TextBoxFor(c => c.Title, new { style= "width:100%"})
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top;padding-right:10px">
                        Content
                    </td>
                    <td>
                        @Html.TextAreaFor(c => c.ContentText, new { cols = "100",  rows = "20"})
                    </td>
                </tr>
                <tr><td colspan="2"> <input type="submit" value="Save Content" /></td></tr>
                </table>
   
    </fieldset>
    </div>

}