@model GiveCampLondon.Website.Models.Charity.SignUpViewModel
@{
    ViewBag.Title = "Charity Proposal Submission - GiveCamp UK";
    ViewBag.PageId = "charity-sign-up";
}
<h1>Sign Up Your Charity</h1>
<br />
@using (Html.BeginForm())
{
    <div class="editor-label">
	    <label for="Name">Charity Name</label>
	</div>	
	<div class="editor-field">
        @Html.TextBoxFor(m => m.Name, new { required = "required" })
        @Html.ValidationMessageFor(m => m.Name)
	</div>
    
    <div class="editor-label">
	    <label for="WebSite">Website</label>
	</div>	
	<div class="editor-field">
        @Html.TextBoxFor(m => m.Website)
        @Html.ValidationMessageFor(m => m.Website)
	</div>
    
    <div class="editor-label">
	    <label for="ContactName">Contact Name</label>
	</div>	
	<div class="editor-field">
        @Html.TextBoxFor(m => m.ContactName, new { required = "required" })
        @Html.ValidationMessageFor(m => m.ContactName)
	</div>
    
    <div class="editor-label">
	    <label for="ContactEmail">Contact Email</label>
	</div>	
	<div class="editor-field">
        @Html.TextBoxFor(m => m.Email, new { required = "required" })
        @Html.ValidationMessageFor(m => m.Email)
	</div>
    
    <div class="editor-label">
	    <label for="ContactPhone">Contact Phone</label>
	</div>	
	<div class="editor-field">
        @Html.TextBoxFor(m => m.ContactPhone)
	</div>
    
    <div class="editor-label">
	    <label for="ProjectRequest">Please outline your project request</label>
	</div>	
	<div class="editor-field">
        @Html.TextAreaFor(m => m.WorkRequested)
	</div>
    
    <div class="editor-label">
	    <label for="BackGroundInformation">What is the background to this project and why do you feel GiveCamp UK can help?</label>
	</div>	
	<div class="editor-field">
        @Html.TextAreaFor(m => m.BackgroundInformation)
	</div>
    
    <div class="editor-label">
	    <label for="Infrastructure">What is your current system infrastructure?</label>
	</div>	
	<div class="editor-field">
        @Html.TextAreaFor(m => m.OtherInfrastructure)
	</div>
    
    <div class="editor-label">
	    <label for="SkillSets">What technical skill sets do your current staff have?</label>
	</div>	
	<div class="editor-field">
        @Html.TextAreaFor(m => m.OtherSupportSkills)
	</div>
    
    
    <input type="submit" value="Submit" class="formSubmit" />
}