<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/content/template.css")" type="text/css" media="screen" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.showoff.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/content/jshowoff.css")" type="text/css" />
    @RenderSection("headInclude", false)
</head>
<body>
    <div id="wrapper">
        <div id="header" class="clearfix">
            <div id="logo">
                <a href="/">Give Camp UK</a></div>
            <div id="header-items" class="clearfix">
                <div id="social-channels" class="clearfix">
                    <ul>
                        <li class="facebook"><a href="http://www.facebook.com" target="_blank">Find Give Camp
                            on Facebook - facebook.com/givecamp</a></li>
                        <li class="twitter"><a href="">Follow us on Twitter - http://www.twitter.com/givecampuk</a></li>
                    </ul>
                </div>
                <div id="breadcrumbs" class="clear clearfix">
                </div>
            </div>
        </div>
        <div id="main-navigation-wrapper">
            <div id="main-navigation" class="clearfix">
                <dl>
                    <dd>
                        <a href="@Url.Action("index", "home")">Home</a></dd>
                    <dd>
                        <a href="@Url.Action("index", "volunteer")">Volunteer</a></dd>
                    <dd>
                        <a href="@Url.Action("index", "charity")">Charity</a></dd>
                    <dd>
                        <a href="@Url.Action("index", "sponsors")">Sponsors</a></dd>
                    <dd>
                        <a href="@Url.Action("faq", "home")">FAQ</a></dd>
                    <dd>
                        <a href="@Url.Action("schedule", "home")">Schedule</a></dd>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <dd>
                            <a href="@Url.Action("ControlPanel", "admin")">Admin Control Panel</a></dd>
                    }
                </dl>
            </div>
        </div>
        <div id="column-right-540">
            <div class="article">
                @RenderBody()
            </div>
        </div>
        <div id="column-left-360">
            <div class="content-module">
                <h2>
                    Sponsors</h2>
                <div class="ad-mpu" id="rotator">
                    <img src="@Url.Content("~/content/images/temp_mpu_300x250.jpg")" width="300" height="250" alt="text" />
                    <img src="@Url.Content("~/content/images/1.jpg")" width="300" height="250" alt="text" />
                    <img src="@Url.Content("~/content/images/2.jpg")" width="300" height="250" alt="text" />
                    <img src="@Url.Content("~/content/images/3.jpg")" width="300" height="250" alt="text" />
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#rotator').jshowoff({
                            links: false,
                            controls: false,
                            effect: 'none',
                            cssClass: 'basicFeatures',
                            hoverPause: false 
                        });
                    });
                </script>
            </div>
            <div class="content-module">
                <h2>
                    Contibutors</h2>
                <div class="content">
                    <ul>
                        <li><a href="/">Contributor 1</a></li>
                        <li><a href="/">Contributor 2</a></li>
                        <li><a href="/">Contributor 3</a></li>
                        <li><a href="/">Contributor 4</a></li>
                        <li><a href="/">Contributor 5</a></li>
                        <li><a href="/">Contributor 6</a></li>
                        <li><a href="/">Contributor 7</a></li>
                        <li><a href="/">Contributor 8</a></li>
                        <li><a href="/">Contributor 9</a></li>
                        <li><a href="/">Contributor 10</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer" class="clear">
            <div id="footer-divider">
                <span id="copyright">&copy; Copyright Give Camp 2011. All rights reserved.</span>
                <dl id="footer-navigation">
                    <dd>
                        <a href="@Url.Action("index", "siteMap")">Site Map</a></dd>
                    <dd>
                        <a href="@Url.Action("contact-us", "home")">Contact Us</a></dd>
                </dl>
            </div>
        </div>
    </div>
</body>
</html>
