<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>@ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/content/images/favicon.ico")" type="image/x-icon" />
    <link rel="shortcut icon" href="@Url.Content("~/content/images/favicon.ico")" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="@Url.Content("~/content/template.css")" type="text/css" media="screen" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.showoff.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/content/jshowoff.css")" type="text/css" />
    @RenderSection("headInclude", false)
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23613218-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
    <div id="wrapper">
        <div id="header" class="clearfix">
            <div id="logo">
                <a href="/">Give Camp UK</a></div>
            <div id="header-items" class="clearfix">
                <div id="social-channels" class="clearfix">
                    <ul>
                        <li class="facebook"><a href="http://www.facebook.com/givecampuk" target="_blank">Find
                            Give Camp on Facebook - facebook.com/givecamp</a></li>
                        <li class="twitter"><a href="http://twitter.com/givecampuk" target="_blank">Follow us
                            on Twitter - http://www.twitter.com/givecampuk</a></li>
                    </ul>
                </div>
                <div id="breadcrumbs" class="clear clearfix">
                </div>
                
            </div>
            @Html.Action("EventFullBanner", "Content")
        </div>
        <div id="main-navigation-wrapper">
            <div id="main-navigation" class="clearfix">
                <dl>
                    <dd><a href="@Url.Action("index", "home")">Home</a></dd>
                    <dd><a href="@Url.Action("index", "volunteer")">Volunteer</a></dd>
                    <dd><a href="@Url.Action("index", "charity")">Charity</a></dd>
                    <dd><a href="@Url.Action("index", "sponsors")">Sponsors</a></dd>
                    <dd><a href="/faq">FAQ</a></dd>
                    <dd><a href="@Url.Action("schedule", "home")">Schedule</a></dd>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <dd><a href="@Url.Action("ControlPanel", "admin")">Admin Control Panel</a></dd>
                        <dd><a href="@Url.Action("LogOff", "account")">Logout</a></dd>
                    }
                </dl>
            </div>
        </div>
        <div id="column-right-540">
            <div class="article">
                @RenderBody()
            </div>
        </div>
        <div id="column-left-360">
            <div class="content-module">
                <h2>GIVECAMP UK: A PART OF INTERNATIONAL GIVECAMP</h2>
                <div class="content">
                    <ul style="color: white">
                        <li><span style="font-weight: bolder">Date:</span> 21st to 23rd October 2011</li>
                        <li><span style="font-weight: bolder">Location:</span> London, UK (venue TBD)</li>
                    </ul>
                </div>
            </div>
            <div class="content-module">
                <h2>Sponsors</h2>
                @Html.Action("RotatorContent", "Content")
            </div>
            <div class="content-module">
                <h2>Contributors</h2>
                <div class="content">
                    <ul>
                        <li><a href="http://leankitkanban.com" target="_blank">LeanKitKanban</a></li>
                        <li><a href="http://www.saasmadeeasy.com/" target="_blank">Saas Made Easy</a></li>
                        <li><a href="http://discountasp.net" target="_blank">Discount ASP.NET</a></li>
                        <li><a href="http://github.com" target="_blank">Github</a></li>
                        <li><a href="http://hasbean.co.uk" target="_blank">HasBean</a></li>
                        <li><a href="http://www.oreilly.com" target="_blank">O'Reilly Media</a></li>
                        <li><a href="http://www.informit.com/index.aspx" target="_blank">Pearson</a></li>
                        <li><a href="http://www.pluralsight-training.net/microsoft/" target="_blank">Pluralsight</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer" class="clear">
            <div id="footer-divider">
                <span id="copyright">&copy; Copyright Give Camp 2011. All rights reserved.</span>
                <dl id="footer-navigation">
                    <dd><a href="@Url.Action("contact-us", "home")">Contact Us</a></dd>
                </dl>
            </div>
        </div>
    </div>
</body>
</html>
