@model GiveCampLondon.Website.Models.Volunteer.SignUpViewModel
@{
    ViewBag.Title = "Volunteer Sign-up";
}
<h1>
    Volunteer Sign-Up</h1>
<br />
@using (Html.BeginForm())
{ 
    <div class="editor-label">
	    <label for="FirstName">First Name <span>* Required</span></label>
	</div>	
	<div class="editor-field">
        @Html.TextBoxFor(m => m.FirstName, new { required = "required" })
        @Html.ValidationMessageFor(m => m.FirstName)
	</div>
    
    <div class="editor-label">
	    <label for="LastName">Last Name <span>* Required</span></label>
	</div>	
	<div class="editor-field">
        @Html.TextBoxFor(m => m.LastName, new { required = "required" })
        @Html.ValidationMessageFor(m => m.LastName)
	</div>
    
    <div class="editor-label">
	    <label for="Email">Email <span>* Required</span></label>
	</div>	
	<div class="editor-field">
        @Html.TextBoxFor(m => m.Email, new { required = "required" })
        @Html.ValidationMessageFor(m => m.Email)
	</div>
    
    <div class="editor-label">
	    <label for="Phone">Phone Number</label>
	</div>	
	<div class="editor-field">
        @Html.TextBoxFor(m => m.PhoneNumber)
        @Html.ValidationMessageFor(m => m.PhoneNumber)
	</div>
    
    <div class="editor-label">
	    <label for="PrimaryRole">Primary role</label>
	</div>	
	<div class="editor-field">
        @Html.Raw(Html.CheckBoxList("jobRoles", ViewBag.JobRoles as List<SelectListItem>))
        @Html.ValidationMessageFor(m => m.JobRoleIds)
	</div>
    
    <div class="editor-label">
	    <label for="Student">Student</label>
	</div>
    <div class="editor-field">
		@Html.CheckBoxFor(m => m.IsStudent)
	</div>
    
    <div class="editor-label">
	    <label for="JobDescription">Current Job Description</label>
	</div>
    <div class="editor-field">
        @Html.EditorFor(model => model.JobDescription)
     </div>
    
    <div class="editor-label">
	    <label for="Technologies">Technologies</label>
	</div>
    <div class="editor-field">
        @Html.Raw(Html.CheckBoxList("technologies", ViewBag.Technologies as List<SelectListItem>))
    </div>
    
    <div class="editor-label">
	    <label for="Experience">Experience Level</label>
	</div>
    <div class="editor-field">
		@Html.DropDownListFor(m => m.ExperienceLevel, ViewBag.ExperienceLevels as List<SelectListItem>)
        @Html.ValidationMessageFor(m => m.ExperienceLevel)
	</div>
    
    <div class="editor-label">
        <label for="YearsOfExperience">Years Of Experience</label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.YearsOfExperience)
    </div>
    
    <div class="editor-label">
        <label for="DietaryNeeds">Dietary Needs</label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DietaryNeeds)
    </div>
    
    <div class="editor-label">
        <label for="Twitter">Twitter Handle</label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.TwitterHandle)
    </div>
    
    <div class="editor-label">
        <label for="SpareLaptop">Spare Laptop</label>
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(model => model.HasExtraLaptop)
    </div>
    
    <div class="editor-label">
            @Html.LabelFor(model => model.ShirtStyle)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ShirtStyle, new SelectList(GiveCampLondon.ShirtStyleValues.ShirtStyles))
        </div>
    
    <div class="editor-label">
        <label for="Bio">Brief Bio</label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Bio)
    </div>
    
    <input type="submit" value="Sign Up" />
}