@model IEnumerable<GiveCampStarterKit.Website.Models.Volunteer.VolunteerSummaryModel>

@{
    ViewBag.Title = "Volunteers";
}

<h2>Volunteers</h2>

<table>
<tr>
<th class="lastname">Last Name</th>
<th class="firstname">First Name</th>
<th class="email">Email</th>
<th class="phone">Phone Number</th>
<th class="twitter">Twitter Handle</th>
</tr>
@foreach (var summary in Model)
{
    <tr>
        <td>@Html.ActionLink(summary.LastName, "Details", new { id = summary.Id })</td>  
        <td>@summary.FirstName</td> 
        <td><a href="mailto:@summary.Email">@summary.Email</a></td> 
        <td>@summary.PhoneNumber</td> 
        <td>@if (!string.IsNullOrEmpty(summary.TwitterHandle)) {<a href="http://twitter.com/@summary.TwitterHandle">@summary.TwitterHandle</a>}</td> 
    </tr>
}
</table>