@{
    ViewBag.Title = "Control Panel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Control Panel</h1>
<br />
<br />
<div style="padding-left: 10px; padding-right: 10px;">
    <table width="100%">
        <tr>
            <td>
                <ul>
                    @Html.ActionLink("Download List of User mail addresses", "DownloadEmailList", "Admin")
                    <li>@Html.ActionLink("Charities Administration", "Charities", "CharitiesAdmin")</li>
                    <li>@Html.ActionLink("Techie Volunteers", "Techies", "admin")</li>
                    <li>@Html.ActionLink("NonTechie Volunteers", "NonTechies", "admin")</li>
                    <li>@Html.ActionLink("Sponsors", "Sponsors", "admin")</li>
                </ul>
            </td>
        </tr>
    </table>
    <br />
</div>
<script type="text/javascript">

    function getFile(id) {
        window.open('/Document/GetDocument?documentId=' + id);
    }
</script>
