@using GiveCampLondon.Website.Models.Volunteer
@model TechieSummary
@{
    ViewBag.Title = "Techies";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Technical Volunteers Signed Up</h1>
<br />
<div style="padding-left: 10px; padding-right: 10px;">
<p><b>Total Techies Signed Up:</b> @Model.TotalSignups</p>
<p><b>Total Non-wait list:    </b> @Model.RegisteredTechies</p>
<p><b>Total Wait list:        </b> @Model.OnWaitListVolunteers</p>
<br />
    <table width="100%" border="1" cellpadding="1" cellspacing="1">
        <tr>
            <th style="width: 15%">&nbsp;</th>
            <th class="firstname" style="width: 15%; font-weight: bold">First Name</th>
            <th class="lastname" style="width: 15%; font-weight: bold">Last Name</th>
            <th class="email" style="width: 30%; font-weight: bold">Email</th>
            <th class="twitter" style="width: 25%; font-weight: bold">Twitter Handle</th>
        </tr>
        @foreach (var summary in Model.Volunteers)
        {
            <tr>
                <td>@Html.ActionLink("Details", "TechieDetails", new {id=summary.Id})</td>
                <td>@summary.FirstName
                </td>
                <td>@summary.LastName
                </td>
                <td>
                    <a href="mailto:@summary.Email">@summary.Email</a>
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(summary.TwitterHandle))
                    {<a href="http://twitter.com/@summary.TwitterHandle">@summary.TwitterHandle</a>}
                </td>
            </tr>
        }
    </table>
    <br />
    <br />
    @Html.ActionLink("Return To Admin Home", "ControlPanel")
    <br />
</div>
