@model GiveCampLondon.Volunteer
@{
    ViewBag.Title = "TechieDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>
    TechieDetails</h2>
<h2>
    Details</h2>
<fieldset>
    <div class="display-label">
        @Html.LabelFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.PhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.ShirtSize)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShirtSize)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.ShirtStyle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShirtStyle)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.JobRoles)
    </div>
    <div class="display-field">
        @foreach (var role in Model.JobRoles)
        {
            @:@role.Description,
                    }
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.IsGoodGuiDesigner)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsGoodGuiDesigner)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.IsStudent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsStudent)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.JobDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobDescription)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Technologies)
    </div>
    <div class="display-field">
        @foreach (var tech in Model.Technologies)
        {
            @:@tech.Description,
                    }
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.ExperienceLevel)
    </div>
    <div class="display-field">
        @if (Model.ExperienceLevel != null)
        {
            @:@Model.ExperienceLevel.Description
                    }
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.YearsOfExperience)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YearsOfExperience)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.DietaryNeeds)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DietaryNeeds)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.TwitterHandle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TwitterHandle)
    </div>
    <div class="display-label">
        Has Laptop?
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HasExtraLaptop)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Bio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bio)
    </div>
</fieldset>
